# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs & cache
dist
build
.cache
*.lock

# Environment variables & secrets
.env
*.pem
*.key

# Git and IDE metadata
.git
.gitignore
.gitattributes
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Documentation & Tests
README.md
coverage
*.test.js
*.spec.js
**/*.test.*
**/*.spec.*

# TypeScript
tsconfig.json
*.tsbuildinfo

# Docker
Dockerfile
.dockerignore